#content-page {
    width: 100%;
    height: 620px;
    /* border: solid; */
}
.menu-1, .menu-2, .menu-3, .menu-4,.menu-5,.menu-6,
.menu-7,.menu-8,.menu-9,.menu-10{
  display: block;
  background-color: #49505a;
  padding: 10px;
  color: white;
  border: #000000 solid 1px;
  text-decoration: none;
}
.menu-3 {
    background-color: RGB(22,130,186);
}
.down {
    display: none;
    position: absolute;
    background-color: RGB(22,130,186);
    border: none;
    margin-left: 100px;
    color: #fff;
  }
  .btn-down {
    display: none;
    position: absolute;
    background-color: RGB(22,130,186);
    border: none;
    margin-left: 85px;
    color: #fff;
  }
  .btn-down-1 {
    display: none;
    position: absolute;
    background-color: RGB(22,130,186);
    border: none;
    margin-left: 95px;
    color: #fff;
  }
  .btn-up-1 {
    display: inline-block;
    position: absolute;
    background-color: RGB(22,130,186);
    border: none;
    margin-left: 95px;
    color: #fff;
  }

  .btn-up {
    display: inline-block;
    position: absolute;
    background-color: RGB(22,130,186);
    border: none;
    margin-left: 85px;
    color: #fff;
  }
  .up {
    display: inline-block;
    position: absolute;
    background-color: RGB(22,130,186);
    color: #fff;
    border: none;
    margin-left: 100px;
  }


  /* css nút thêm mới xóa nhiều */
  .delete, .add {
    color: #fff;
    background-color: #006ecb;
    width: 100px;
    height: 30px;
    font-size: 15px; 
    margin-bottom: 15px;
    margin-top: 10px;
}
  .adds {

    width: 100px;
    height: 300px;
    background-color: #006ecb;
    color: #fff;
    text-align: center;
    padding-left: 5px;
    font-size: 15px;
  }
  th {
    color: #fff;
    font-size: 15px;
    background-color: #006ecb;
  }
  .stt {
    width: 50px;
    height: 50px;
    text-align: center;
  }
  td {
    text-align: center;
    height: 30px;
  }
  .le {
    background-color: #eeeeee;
  }
  .checkboxx {
    width: 50px;
    height: 50px;
  }
  .seri {
    height: 50px;
    width: 100px;
  }
  .nameproduct {
    width: 250px;
    height: 50px;
  }
  .cate-gory {
    width: 150px;
    height: 50px;
  }
  .date {
    width: 150px;
    height: 50px;
  }
  .view, .edit, .deletes {
    width: 100px;
    height: 50px;
  }

.number-page {
    /* border: solid; */
    text-align: center;
    padding-left: 50px;
    margin-top: 50px;
}
a {
    text-decoration: none;
    padding-left: 20px;
}







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity linear 0.2s;
}

.overlay-close {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.dialog:target {
  visibility: visible;
  opacity: 1;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog-body {
  max-width: 1000px;
  position: relative;
  padding: 16px;
  background-color: #fff;
}

.dialog-close-btn {
  position: absolute;
  top: 2px;
  right: 500px;
  text-decoration: none;
  color: #333;
  font-size: 35px;
}
.form-addsp {
  width: 900px;
  height: 730px;
}
#header-page {

  background-image: url(Image/backgroupshopee.png);
}
#header-left {
  margin-left: 1150px;
  padding: 0;
}
.title {
  padding: 0;
  margin-left: 600px;
  color: #EE4D2D;
}
button {
  border: none;
}